<body>
<section class="main-content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4" th:text="#{authorization.title}"></h1>
                <h6 class="mb-4">
                    <span th:text="#{authorization.question.about.account}" class="me-2"></span>
                    <a href="#" id="registration-link" th:text="#{authorization.registration.link}"></a>
                </h6>
                <form id="authorization-form">
                    <div class="mb-3">
                        <label for="username" class="form-label" th:text="#{user.email}"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            <input type="email" class="form-control" id="username" name="username"
                                   th:placeholder="#{placeholder.username}"  required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" th:text="#{user.password}"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password"
                                   th:placeholder="#{placeholder.password}" minlength="3" maxlength="10" required>
                            <button class="btn btn-outline-secondary toggle-password" type="button"
                                     th:text="#{show.btn}"></button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{authorization.login}"></button>
                </form>

            </div>
        </div>
    </div>
    <div class="error-message-authorization">
        <span id="error-text-authorization"></span>
    </div>
</section>

</body>